@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Thin.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Thin.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: thin;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-ExtraLight.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-ExtraLight.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-ExtraLight.ttf) format('truetype');
    font-weight: 200;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Light.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Light.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: light;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Regular.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Regular.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Regular.ttf) format('truetype');
    font-weight:400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Medium.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Medium.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-SemiBold.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-SemiBold.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Bold.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Bold.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-ExtraBold.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-ExtraBold.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family:'League Spartan';
    src: url(../../assets/fonts/league_spartan/woff2/LeagueSpartan-Black.woff2) format('woff2'),
        url(../../assets/fonts/league_spartan/woff/LeagueSpartan-Black.woff) format('woff'),
        url(../../assets/fonts/league_spartan/ttf/LeagueSpartan-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
}