@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

span {
  text-transform: uppercase;
  color: $buttons;
  font-size: 20px;
  font-weight: 800;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 90px 12px 12px;
    text-align: center;
    color: $white;
    @include tablet {
        padding: 130px 24px 40px;
    }

    &__social__icon {
        width: 25px;
    }

    &__social__icon {
        width: 25px;
    }

     &__down__arrow {
        width: 50px;
        height: 50px;
        stroke: $white;
    }
}