@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.skills {
    background-color: $background-primary;
    color: $white;
    padding: 12px 8px;

    &__header {
        font-size: 40px;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__wrap {
        // background-image: url(../../assets/images/stars_with_clouds.webp);
        // background-position: center;
        // background-repeat: no-repeat;
        // background-size: cover;
        box-shadow: $white 0px 0px 4px 0px;
        border: 1px solid;
        // border-radius: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrap__title {
        margin: 10px 0px;
    }

    &__wrap__icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-wrap: wrap;
    
    }

    &__wrap__icon {
        background-color: $background-secondary;
        padding: 25px;
        width: 100px;
        height: 100px;
        transition: 1s;

        &:hover {
            padding: 10px;
            width: 100px;
            height: 100px;
            box-shadow: 0 0 10px #ffffff;
        }
    }
}