@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.skills {
    background-color: $background-primary;
    color: $white;
    padding: 12px 8px;

    &__header {
        font-size: 40px;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 600;
    }
}