@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    background-color: $background-primary;
    color: $white;
    @include tablet {
        margin: 24px 16px;
    }

    &__info {
        width: 70%;
        display: flex;
        align-items: center;
        @include tablet {
            width: 50%;
        }
    }

    &__headshot {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 16px;
        border: white;
        box-shadow: 0px 0px 4px 2px;
    }

    &__nav {
        width: 30%;
        text-align: right;
        display: flex;
        justify-content: right;
        @include tablet {
            width: 50%;
        }
    }

    &__hamburger__menu {
        width: 25px;
        height: 25px;
        @include tablet {
            display: none;
        }
    }

    &__visuallyHidden {
        height: 0px;
        width: 0px;
    }

    &__hamburger {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__bar {
        padding: 0;
        width: 25px;
        height: 4px;
        background-color: $white;
        display: block;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        position: absolute;
    }

    &__bar1 {
        top: 24px;
    }

    &__bar2,
    &__bar3 {
        top: 35px;
    }

    &__bar4 {
        top: 46px;
    }

    &__bar1 {
        transform-origin: 5%;
    }

    &__bar4 {
        transform-origin: 5%;
    }

    &__checkbox:checked + label > &__hamburger > &__bar1 {
        transform: rotate(45deg);
        height: 4px;
        width: 34.5px;
    }

    &__checkbox:checked + label > &__hamburger > &__bar3 {
        transform: rotate(45deg);
        height: 4px;
        background-color: transparent;
    }

    &__checkbox:checked + label > &__hamburger > &__bar2 {
        transform: rotate(-45deg);
        height: 4px;
        background-color: transparent;
    }

    &__checkbox:checked + label > &__hamburger > &__bar4 {
        transform: rotate(-45deg);
        height: 4px;
        width: 34.5px;
    }

    &__nav__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $background-primary;
        text-transform: uppercase;
        gap: 7px;
        left: 0;
        @include tablet {
            display: none;
        }
        &--tablet {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
        padding: .5rem;
        &:hover {
            box-shadow: 0px 0px 4px 2px;
            border: $white;
        }
    }

    &__checkbox ~ &__nav__links, &__links {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        position: absolute;
        top: -100px;
        transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    }

    &__checkbox:checked ~ &__nav__links, &__links {
        height: 11rem;
        width: 100%;
        padding: .5rem;
        position: absolute;
        top: 74px;
        transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    }
}