@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    padding: 12px 8px;
    display: flex;
    align-items: center;
    color: $white;
    @include tablet {
        padding: 24px 16px;
    }

    &__info {
        width: 70%;
        display: flex;
        align-items: center;
        @include tablet {
            width: 50%;
        }
    }

    &__headshot {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 16px;
        border: $white;
        box-shadow: 0px 0px 4px 2px;
    }

    &__nav {
        width: 30%;
        display: flex;
        justify-content: right;
        @include tablet {
            width: 50%;
        }
    }

    &__hamburger__menu {
        @include tablet {
            display: none;
        }
    }

    &__hidden {
        display: none;
    }

    &__hamburger {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    &__bar {
        width: 25px;
        height: 4px;
        background-color: $white;
        display: block;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        position: absolute;
    }

    &__bar1 {
        top: 24px;
        transform-origin:1%;
    }

    &__bar2 {
        top: 35px;
    }

    &__bar3 {
        top: 46px;
        transform-origin: 1%;
    }

    &__checkbox:checked + label > &__hamburger > &__bar1 {
        transform: rotate(45deg);
        height: 4px;
        width: 32.5px;
    }

    &__checkbox:checked + label > &__hamburger > &__bar2 {
        transform: rotate(90deg);
        height: 4px;
        background-color: transparent;
    }

    &__checkbox:checked + label > &__hamburger > &__bar3 {
        transform: rotate(-45deg);
        height: 4px;
        width: 32.5px;
    }

    &__nav__links {
        background-image: url(../../assets/images/stars_with_clouds.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: $background-primary;
        text-transform: uppercase;
        left: 0;
        @include tablet {
            display: none;
        }
        &--tablet {
            display: none;
            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                box-shadow: none;
                background-color: transparent;
                background-image: none;
            }
        }
    }

    &__nav__item {
        overflow: hidden;
    }

    &__nav__link {
        color: $white;
        text-decoration: none;
        padding: 6px 12px;
        &:hover {
            box-shadow: 0px 0px 4px 2px;
            border: $white;
        }
    }

    &__checkbox ~ &__nav__links {
            height: 0;
            margin: 0;
            padding: 0;
            border: 0;
            position: absolute;
            top: 77px;
            border: none;
            box-shadow: 0px;
            transition: all 2s cubic-bezier(0.23, 1, 0.320, 1);
    }

    &__checkbox:checked ~ &__nav__links {
            height: 10rem;
            padding: .5rem;
            position: absolute;
            top: 74px;
            border: $white;
            box-shadow: 0px 0px 4px 4px;
            transition: all 1.5s cubic-bezier(0.23, 1, 0.320, 1);    
    }
}