@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.aboutMe {
    padding: 12px 8px;
    text-align: center;
    background-color: $background-primary;
    color: $white;

    &__header {
        font-size: 40px;
        text-align: center;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__image {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        margin-bottom: 12px;
    }

    &__cards {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;
    }
    
    &__card {
        background-color: $background-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 8px;
        width: 95px;
        height: 110px;
        // cursor: pointer;
        box-shadow: $white 0px 0px 4px 1px;
        // &:hover {
        //     box-shadow: $white 0px 0px 4px 3px;
        // }
    }

    &__card__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 12px;
    }

    &__story {
        margin-bottom: 16px;
    }

    &__button__cv {
        background-color: $buttons;
        border: none;
        color: $white;
        font-size: 18px;
        padding: 8px 14px;
        border: 1px $white solid;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: $white 0px 0px 4px 1px;
        &:hover {
            box-shadow: $white 0px 0px 4px 3px;
        }
    }
}